@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
      font-family: 'Kanit', sans-serif;      
      scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
      width: 8px;      
      background: rgb(255, 50, 50);;
    }
  ::-webkit-scrollbar-track{
    background: rgb(255, 255, 255);
  }
  ::-webkit-scrollbar-thumb{
    background: rgb(255, 50, 50);
  }
}